h1{
    font-family: var(--font-family);
    color: $White;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

h2{
    font-family: var(--font-family);
    color: $Dark-gray-blue;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Hanken Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

p{
    font-family: var(--font-family);
    color: $Light-lavender;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}